*.class

nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Package Files #
*.war
*.ear

JRandom/nbproject/private/
JRandom/build/
JRandom/dist/
/mavenproject/target/